table, th, td {
    border: 1px solid black;
  }
  table {
    border-spacing: 30px;
  }




/* td {
    background-color: blueviolet;
    color: white;
}

th {
    background-color: yellow;
    color: brown;
    text-align: left;
    /* border: 3px solid black; */
}

td{
    /* border: 1px solid blue; */
} */